<IfModule mod_negotiation.c>

  Options -MultiViews

</IfModule>

<IfModule mod_rewrite.c>

  RewriteEngine On

  RewriteBase /asset/t5/

  RewriteRule ^index\.html$ - [L]

  RewriteCond %{REQUEST_FILENAME} !-f

  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule . /asset/t5/index.html [L]

</IfModule>